.nav {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav > h2 {
  color: #845EC2;
  margin-left: 20px;
}

.nav > div {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.nav > div > a {
  text-decoration: None
}
