<div class="home">
  <div class="homeWelcomeInfo">
    <h1 class="homeHeader">Let's Get Hosting For Free</h1>
    <h3 class="homeSubHeader">We have amazing solutions right here for you. Check it out!</h3>
    <div class="homeButtons">
      <button mat-button class="homeSignUp">Sign Up</button>
      <button mat-button class="homeSignIn">Sign In</button>
    </div>
  </div>
  <div class="homeWelcomeIllustration">
    <svg-icon src="assets/code_automation.svg" [svgStyle]="{ 'width.px':800 }"></svg-icon>
  </div>
</div>
