
<div class="home">
  <div class="homeBanner">
    <div class="homeBannerWelcomeInfo">
      <h1 class="homeBannerHeader">Robust Cloud Computing Solutions</h1>
      <h3 class="homeBannerSubHeader">Hosting has the cloud computing services you need, with predictable pricing,
        robust documentation, and scalability to support your Business growth at any stage.</h3>
      <div class="homeBannerButtons">
        <button mat-button class="homeBannerSignUp">Sign Up</button>
        <button mat-button class="homeBannerSignIn">Sign In</button>
      </div>
    </div>
    <div class="homeBannerWelcomeIllustration">
      <svg-icon src="assets/code_automation.svg" [svgStyle]="{ 'width.px':800 }"></svg-icon>
    </div>
  </div>

  <div class="homeComplexity">
    <h2 class="homeComplexityHeader">Do More With Less Complexity</h2>
    <h3 class="homeComplexitySubHeader">Our modern UI, CLI and Documentation helps you focus on what's important</h3>
    <a href="" class="homeProductsLink">Explore Our Products</a>
  </div>

  <div class="homePricing" *ngFor="let package of packages">
    <app-pricing [name]=package.name [price]=package.price [benefits]=package.benefits></app-pricing>
  </div>
</div>
